# .env
NEXT_PUBLIC_APP_NAME=your_app_name
COOKIE_SECRET=your_cookie_secret
JWT_AUDIENCE=your_jwt_audience
JWT_ISSUER=your_jwt_issuer
JWT_PUBLIC_KEY="your_jwt_public_key"

# .env.local
NEXT_PUBLIC_API_URL=https://api.yourdomain.com
NEXT_PUBLIC_SOCKET_URL=https://api.yourdomain.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DOMAIN=localhost